version: '3.8'
services:
  backend:
    build: ./server
    ports:
      - "3000:3000"
    volumes:
      - ./server:/app
    command: npm run dev

  frontend:
    build: ./client
    ports:
      - "5173:5173"
    volumes:
      - ./client:/app
    command: npm run dev

  db:
    image: postgres:15
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: roomin
    ports:
      - "5432:5432"
